RewriteEngine On

# Optional: Force HTTPS and www
# RewriteCond %{HTTPS} off [OR]
# RewriteCond %{HTTP_HOST} !^www\. [NC]
# RewriteRule ^ https://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Rewrite Product Details URLs

RewriteRule ^academy/?$ academy.php [L,NC]
RewriteRule ^pricing/?$ pricing.php [L,NC]

RewriteRule ^portfolio/?$ portfolio.php [L,NC]

RewriteRule ^about-us/?$ about-us.php [L,NC]

RewriteRule ^blogs/?$ blog.php [L,NC]

RewriteRule ^service-details/([^/]+)/?$ services-details.php?alias=$1 [L,QSA]

RewriteRule ^services/([^/]+)/?$ service.php?alias=$1 [L,QSA]

# RewriteRule ^blogs/([^/]+)/?$ blog.php?alias=$1 [L,QSA]

RewriteRule ^blog/([^/]+)/?$ blog-detail.php?alias=$1 [L,QSA]

RewriteRule ^contact/?$ contact.php [L,NC]

# Custom error pages (relative paths)
ErrorDocument 404 /404.php
ErrorDocument 500 /500.php
